:root {
  /* Bakgrunn */
  --bg-primary: #1D1F29;
  --bg-secondary: #282C34;

  /* Tekst */
  --text-primary: #F4F6F8;
  --text-secondary: #D1D9E6;

  /* Knapper */
  --btn-primary: #46B29D;
  --btn-primary-hover: #3B9D6F;

  --btn-secondary: #282C34;
  --btn-secondary-hover: #000000;

  /* Varsler */
  --error: #D32F2F;
  --warning: #FF9800;
  --info: #4CAF50;

  /* Tabeller */
  --table-header: #333A47;
  --table-row-odd: #2C3E50;
  --table-row-even: #34495E;
  --table-row-active: #1F3A60;

  --table-row-hover: #44556C;

  /* Søk/inputs */
  --input-bg: #F1F3F8;
  --input-text: #1D1F29;

  /* Diagramfarger */
  --chart-blue: #4A90E2;
  --chart-red: #E74C3C;
  --chart-green: #27AE60;

  --bg-card: #000000;
  --bg-lines: #282C34;
  --text-primary: #F4F6F8;
  --text-secondary: #D1D9E6;
  --accent-green: #3B9D6F;
  --accent-green-hover: #46B29D;
  --border-soft: #333A47;
  --color-primary-dark: #d1d2d41a;
}

.threshold-error line {
  animation: pulse-line 1s infinite;
}

@keyframes pulse-line {
  0% {
    stroke-opacity: 0.5;
  }
  50% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0.5;
  }
}
.threshold-warning line {
  animation: pulse-line-warning 1s infinite;
}

@keyframes pulse-line-warning {
  0% {
    stroke-opacity: 0.5;
  }
  50% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0.5;
  }
}
/* YTRE – kun animasjon */
.timeline-wrapper {
  max-height: 0;
  opacity: 0;
  transform: translateY(-6px);
  margin-left: 1rem;
  margin-top: 0.25rem;

  transition:
    max-height 0.35s ease,
    opacity 0.25s ease,
    transform 0.25s ease;
}

.timeline-wrapper.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

/* INDRE – må få lov til å tegne uten klipping */
.timeline-inner {
  overflow: visible;
}

html {
  overflow-y: scroll;
}
/* Chrome / Edge */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.25);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}
